  <nav class="navbar fixed-top navbar-expand-lg navbar-dark customPurple scrolling-navbar">
    <a class="navbar-brand logo" href="/"><strong>Sci Edge</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if bookmark}}
        <li class="nav-item active">
        {{/if}}
        {{#unless bookmark}}  
        <li class="nav-item">
        {{/unless}}  
          <a class="nav-link" href="/saved">Bookmarks</a>
        </li>
      </ul>
      </ul>
    </div>
  </nav>
