<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sci Edge News</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">    
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- Lazy Size -->
    <script src="/js/lazySize.js" type ="text/javascript" async=""></script>   

</head>
<body>
    <!--Main Navigation-->
    <header class="indexHeader">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand logo" href="/"><strong>Sci Edge</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/saved">Bookmarks</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="view intro-2" style="">
        <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
            <div class="container text-center white-text wow">
            <br><br><br><br><br>
                <h1 class="logo">Science Edge</h1>
                <br>
                <h5>Read and comment on the lastest articles.</h5>
                <br><br><br>
                <p>scroll</p>
                <div class="animated slideOutDown infinite slower"><i class="fas fa-long-arrow-alt-down"></i></div>
            </div>
        </div>
        </div>
    </div>

    </header>
    <!--Main Navigation-->
        
    <!--Main Layout-->
    {{{body}}}
    <!--Main Layout-->

    <!-- Footer -->
    <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Sharon Chien  
        <a href="/admin"> <i class="fas fa-cog"></i></a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script> 
    <!-- Lazy Size -->
    <script src="/js/lazySize.js" type ="text/javascript" async=""></script>   
    <!-- Custom JavaScript -->
    <script type ="text/javascript" src="/js/app.js"></script>
</body>
</html>