


<main class=" pt-5">

  <div class="container">
  <div class="text-center">
    {{#each categories}}
    <a class="btn btn-purple btn-sm categoryBtn" href="/category/{{name}}">{{name}}</a>
    {{/each}}
    
  </div>
<!-- Section: Magazine v.2 -->
<section class="magazine-section mt-5">

  <!-- Section description -->
  <h5 class="text-center dark-grey-text w-responsive mx-auto mb-3">Do you know how common everyday items, such as mirrors, fireworks or sunglasses work?</h5>
  <h5 class="text-center dark-grey-text w-responsive mx-auto mb-5">These collections of Innovation articles explores the workings of objects you may come into contact with on a regular basis.</h5>

<div>
</div>


{{#if articles}}
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5 col-md-12">
    {{#firstToNum articles 3}}

        <!-- Featured news -->
        {{> featureNews}}
        <!-- Featured news -->
      <!-- Grid column -->
      {{/firstToNum}}
    </div>  
    <div class="col-lg-7 col-md-12">
      <h5 class="font-weight-bold purple-text mb-3">More Articles</h5>
      {{#fromNum articles 3}}
        <!-- Small news -->
        {{> singleNews}}  
        <!-- Small news -->
      {{/fromNum}}  
    </div>

  </div>
  <!-- Grid row -->
{{/if}}

</section>
<!-- Section: Magazine v.2 -->
{{> paginate}}
</div>

</main>
