<header>
{{> smallNav}}
</header>

<main class="container py-5">

<!-- Section: Magazine v.2 -->
<section class="magazine-section my-5">

  <!-- Section description -->
  <h3 class="text-center purple-text w-responsive mx-auto mb-5 logo">{{header}}</h3>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-12">
  {{#each articles}}
        <!-- Small news -->
      {{> singleNews}}
        <!-- Small news -->
  {{/each}}   
    </div>
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Magazine v.2 -->
{{> paginate}}
</div>

</main>
