.view {
    background: url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse, footer {
    background-color: #2a0c40;
}

@media only screen and (max-width: 768px) {
    .navbar, footer {
        background-color: #2a0c40;
    }
}

html,
body,
header,
.view {
  height: 100%;
}