@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.logo {
    font-family: 'Righteous', cursive;
} 

.intro-2 {
    background: url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #2a0c40;
}

footer {
    background-color: #2a0c40;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2a0c40;
    }
}

html,
body,
.indexHeader,
.intro-2 {
  height: 100%;
}

.smallFont {
    font-size:smaller
}

.customPurple {
    background-color: #2a0c40;
}

.card-comments img{width:4rem}

main {
    min-height: calc(100vh - 54px);
}
